<article class="flex flex-col justify-center items-center bg-white text-blue-600">
  <div class="bg-gray-300 w-full">
    <div class="pt-4 md:pt-8 text-center">
      <div class="flex flex-col items-center">
        <h1 class="text-lg md:text-3xl">Trainspotter.</h1>
        <p class="text-xs md:mt-1">バーチャルで鉄道写真を楽しもう</p>
      </div>
      <div class="mx-auto w-[200px] h-[200px] md:w-[400px] md:h-[400px] bg-gray-400"></div>
    </div>
  </div>

  <div class="mt-6 pt-4 md:pt-8 w-full md:w-9/12 text-center">
    <h2 class="text-2xl font-bold underline mb-4">Concept</h2>
    <p class="text-base-content text-opacity-70">
      Trainspotter.は、「鉄道写真をみんなで楽しむ」をコンセプトとした、鉄道に少しでも興味がある人や鉄道が好きな人のためのアプリです。
      自分のお気に入りをみんなで共有しましょう！
    </p>
  </div>

  <div class="m-6 pt-4 md:pt-8 w-full md:w-9/12">
    <p class="md:text-2xl underline font-bold">旅行計画立てる時こんなことはないですか？</p>
    <div class="text-sm md:text-lg mt-4 md:mt-8">
      <div class="chat chat-start mb-2 md:mb-6 md:ps-5">
        <div class="chat-bubble chat-bubble-info text-base-content">モデルコースじゃなくて自分たちの行きたいところだけで旅行をしたい！</div>
      </div>
      <div class="chat chat-end mb-2 md:mb-6 md:pr-32">
        <div class="chat-bubble chat-bubble-secondary text-base-content">一緒に行くメンバーと行きたいところを共有し合うのが大変！</div>
      </div>
      <div class="chat chat-start mb-2 md:mb-6 md:ps-5">
        <div class="chat-bubble chat-bubble-info text-base-content">初めての土地だから、いきたい場所同士の距離感がわからない！</div>
      </div>
    </div>
  <div>

  <div class="md:flex md:justify-between md:gap-x-8 mt-6">
    <div class="flex-1 bg-gray-100 p-4 m-2 rounded">
      <h2 class="text-lg font-bold">日本中の鉄道写真を楽しむ</h2>
      <p>地図上にスポットを投稿してみよう！日本中どこでも自分の好みの鉄道を探すことができます。</p>
    </div>
    <div class="flex-1 bg-gray-100 p-4 m-2 rounded">
      <h2 class="text-lg font-bold">みんなの投稿した鉄道写真をみにいく</h2>
      <p>みんなの投稿したスポットをみにいこう！意外な穴場が見つかるかも！</p>
    </div>
    <div class="flex-1 bg-gray-100 p-4 m-2 rounded">
      <h2 class="text-lg font-bold">コメントやいいねでつながろう</h2>
      <p>気に入った投稿には「いいね」とコメントで交流しよう！自分の投稿もシェアすることで鉄道好きの輪がもっと広がるかも！</p>
    </div>
  </div>
</article>
