<!-- Hero -->
<div class="relative overflow-hidden bg-gradient-to-br from-blue-200 to-white">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">
    <!-- Title -->
    <div class="max-w-3xl text-center mx-auto">
      <h1 class="block font-medium text-gray-800 text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
        Trainspotter.
      </h1>
    </div>
    <!-- End Title -->

    <div class="max-w-3xl text-center mx-auto">
      <p class="text-lg text-gray-800">全国の鉄道写真を楽しもう！</p>
    </div>

    <!-- Buttons -->
    <div class="text-center">
      <a class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-blue-600 to-violet-600 shadow-lg shadow-transparent hover:shadow-blue-700/50 border border-transparent text-white text-sm font-medium rounded-full focus:outline-none focus:shadow-blue-700/50 py-3 px-6" href="/login">
        trainを見に行こう‼
        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
      </a>
    </div>
    <!-- End Buttons -->
  </div>
</div>
<!-- End Hero -->

<article class="flex flex-col justify-center items-center bg-white">
  <div class="bg-white w-full">
    <div class="pt-4 md:pt-8 text-center">
      <%= image_tag 'train.jpg', alt: 'Train', class: 'w-full h-full object-cover' %>
    </div>
  </div>

  <div class="mt-6 pt-4 md:pt-8 w-full md:w-9/12 text-center">
    <h2 class="text-2xl font-bold underline mb-4">Concept</h2>
    <p class="text-base-content text-opacity-70">
      Trainspotter.は、「全国各地の魅力的な鉄道写真をみんなで楽しむ」をコンセプトとしたサービスです。<br>
      まだみぬ鉄道に出会ってみませんか？
    </p>
  </div>

  <div class="m-6 pt-4 md:pt-8 w-full md:w-9/12 text-center">
    <p class="md:text-2xl underline font-bold">使い方</p>
    <div class="text-sm md:text-lg mt-4 md:mt-8">
      <!-- ステップ1 -->
      <div class="chat chat-start mb-2 md:mb-6 md:ps-32">
        <div class="chat-bubble bg-sky-400 text-blue-800 text-base-content">
          <svg class="h-8 w-8 text-blue-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />  <circle cx="12" cy="13" r="3" /></svg>
          ホームで鉄道を撮影（周囲を確認してね）
        </div>
      </div>
      <!-- ステップ2 -->
      <div class="chat chat-end mb-2 md:mb-6 md:pr-32">
        <div class="chat-bubble bg-sky-400 text-blue-800 text-base-content">
          <svg class="h-8 w-8 text-blue-500" <svg  width="24"  height="24"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" /></svg>
          投稿フォームから写真と必要事項を入力
        </div>
      </div>
      <!-- ステップ3 -->
      <div class="chat chat-start mb-2 md:mb-6 md:ps-32">
        <div class="chat-bubble bg-sky-400 text-blue-800 text-base-content">
          <svg class="h-8 w-8 text-blue-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3" /></svg>
          投稿一覧で気に入った写真があればお気に入りに追加しよう
        </div>
      </div>
      <!-- ステップ4 -->
      <div class="chat chat-end mb-2 md:mb-6 md:pr-32">
        <div class="chat-bubble bg-sky-400 text-blue-800 text-base-content">
          <svg class="h-8 w-8 text-blue-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="12" cy="12" r="9" />  <line x1="9" y1="9" x2="9.01" y2="9" />  <line x1="15" y1="9" x2="15.01" y2="9" />  <path d="M8 13a4 4 0 1 0 8 0m0 0H8" /></svg>
          沢山投稿してバッジのレベルをあげよう！
        </div>
      </div>
    </div>
  </div>
</article>
