<div class="w-5/6 mx-auto my-28 max-w-screen-xl">
  <div class="text-2xl font-bold text-center text-gray-800 mb-8">マイバッジ</div>
  <div class="grid grid-cols-1 lg:grid-cols-6 gap-5 mt-10 mb-20 justify-items-center">

    <% post_count = current_user.posts.count %>

    <%# 画像の配列を作成 %>
    <% images = ['before.png', 'before.png', 'before.png', 'before.png', 'before.png'] %>

    <%# 投稿数に応じて画像を変更 %>
    <% if post_count >= 1 %>
      images[0] = 'trainstar1.png'
    <% end %>
    <% if post_count >= 5 %>
      images[1] = 'trainstar2.png'
    <% end %>
    <% if post_count >= 10 %>
      images[2] = 'trainstar3.png'
    <% end %>
    <% if post_count >= 20 %>
      images[3] = 'trainstar4.png'
    <% end %>
    <% if post_count >= 30 %>
      images[4] = 'trainstar5.png'
    <% end %>

    <%# 画像を横並びに表示 %>
    <% images.each do |image| %>
      <%= image_tag asset_path(image), size: "250x250", alt: "Badge" %>
    <% end %>

  </div>
</div>
