<footer class="absolute bottom-0 bg-gray-300 rounded shadow-inner w-full">
  <div class="max-w-screen-xl mx-auto md:py-3">
    <div class="flex items-center justify-between">
      <div class="flex flex-col items-center space-x-3 m-3">
        <%= link_to "Trainspotter.", root_path, class:"text-xl md:text-2xl" %>
      </div>
      <ul class="flex flex-col text-sm items-center pt-2 md:pt-3 mr-3 font-medium gap-2">
        <li>
          <%= link_to "利用規約", "#", class: "text-blue-500 hover:underline" %>
        </li>
        <li>
          <%= link_to "プライバシーポリシー", "#", class: "text-blue-500 hover:underline" %>
        </li>
        <li>
          <%= link_to "お問い合わせ", "#", class: "text-blue-500 hover:underline" %>
        </li>
      </ul>
    </div>
    <hr class="border-gray-700 mx-3 my-2 md:my-4" />
    <span class="block text-sm text-center pb-2 md:pb-0">© 2024 Trainspotter.</span>
  </div>
</footer>
