<div class="w-5/6 mx-auto my-28 max-w-screen-xl">
  <div class="text-2xl font-bold text-center text-gray-800 mb-8">お気に入り一覧</div>
<div class="w-5/6 mx-auto my-28 max-w-screen-xl">
	<div class="mb-10">
		<%= render 'shared/search_form', q: @q %>
	</div>

	<!-- 掲示板一覧 --!>
	<div class="flex justify-center md:flex flex-wrap">
		<% if @favorite_posts.present? %>
			<%= render @favorite_posts %>
		<% else %>
			<p>投稿がありません</p>
		<% end %>
	</div>
	<div>
		<%= paginate @favorite_posts %>
	</div>
</div>
